<div class="container">
    <div class="d-flex justify-content-center mb-5 mt-5">
        <ul class="footer__social-icon-list">
            <li>
                <a class="footer__social-icon footer__social-icon--facebook" aria-label="Facebook" href="https://www.facebook.com/noname">
                    <i class="fab fa-facebook-f" alt="facebook"></i>
                </a>
            </li>
            <li>
                <a class="footer__social-icon  footer__social-icon--instagram" aria-label="Instagram" href="https://www.instagram.com/noname">
                    <i class="fab fa-instagram" alt="instagram"></i>
                </a>
            </li>
            <li>
                <a class="footer__social-icon footer__social-icon--linkedin" aria-label="Linkedin" href="https://www.linkedin.com/company/noname">
                    <i class="fab fa-linkedin-in" alt="linkedin"></i>
                </a>
            </li>
            <li>
                <a class="footer__social-icon footer__social-icon--twitter" aria-label="Twitter" href="https://twitter.com/noname">
                    <i class="fab fa-twitter" alt="twitter"></i>
                </a>
            </li>
        </ul>
    </div>
</div>