<div class="container">  
    <div class="section">
        <h2 class="display-4 text-uppercase text-center mt-5 mb-4">Component Tab</h2>
        <div class="all-section">
            <div class="content-box">
                <div class="row">
                    <div class='multipletab'>
                        <div class='tab-buttons'>
                            <span id='content1'>Konfirmasi Pembayaran Otomatis</span>
                            <span id='content2'>Konfirmasi Manual</span>
                        </div>
                        <div class='tab-content'>
                            <div id='content1'>Tidak ingin menunggu? Gunakan pilihan Konfirmasi Pembayaran Otomatis, aktivasi cepat tanpa perlu mengunggah bukti bayar. Selesaikan pembayaran dan layanan siap Anda gunakan hanya dalam waktu beberapa menit!</div>
                            <div id='content2'>Jika menggunakan pilihan Konfirmasi Manual, Anda perlu mengunggah dokumen persyaratan melalui Member Area Niagahoster. Selanjutnya, tunggu Customer Success Agent Niagahoster mengaktifkan layanan Anda dalam waktu maksimal 1 hari kerja. Silakan gunakan pilihan Konfirmasi Pembayaran Otomatis untuk aktivasi instan secepat kilat.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>