<div class="all-section">
    <h2>Toggle Buttons</h2>
    </div>
        <div class="col-12" id="accordion">
            <div id="accordion" class="metode-accordian">
                <div class="card">
                <div id="gopay" class="card__box row ml-0 mr-0 align-items-center justify-content-between collapsed" data-toggle="collapse" data-target="#collapseGopay" aria-expanded="false" aria-controls="collapseGopay">
                    <div class="col-6 col-sm-4">
                        <img class="img-fluid" src="https://www.niagahoster.co.id/assets/images/2020/pembayaran/gopay.svg" alt="Logo Gopay">
                    </div>
                    <div class="col-sm-4 d-none d-sm-block text-center">Gopay</div>
                    <div class="col-6 col-sm-4 text-right">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="collapseGopay" class="collapse" aria-labelledby="gopay" data-parent="#accordion">
                    <div class="card-body col-md-10 col-sm-12">
                    <div class="metode-accordian__text">
                        Saat ini pembayaran melalui Gopay sudah bisa dilakukan di Niagahoster. Untuk melakukannya, ikuti langkah-langkah di bawah ini:
                    </div>
                    <ol>
                        <li>Pada halaman <b>Checkout</b> pilih <b>Gopay</b></li>
                        <li><b>Buat Akun</b> atau <b>Masuk</b> ke akun Niagahoster Anda. Kemudian klik <b>Checkout Sekarang</b>. </li>
                        <li>Anda akan diarahkan ke <b>halaman pembayaran Niagahoster</b> yang menampilkan <b>kode QR GoPay</b> </li>
                        <li>Pilih <b>Scan QR</b> pada aplikasi Gojek, kemudian <b>pindai kode QR</b> menggunakan kamera </li> 
                        <li>Masukkan nominal dan periksa kembali rincian pembayaran Anda </li> 
                        <li>Tekan <b>Pay</b> </li>
                        <li>Transaksi Selesai </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>