<div class="text-center">
    <button class="btn btn-sm nh-btn btn--primary btn--outline" type="button" data-toggle="collapse" data-target="#btnSize" aria-expanded="false" aria-controls="btnSize">
        <i class="fa fa-code" aria-hidden="true"></i> Show Code
    </button>
    <div class="collapse" id="btnSize">
        <div class="card-code card-code-body text-left">
            <code>
                &lt;a class="btn nh-btn btn-dark btn-sm" href="javascript:void(0)">small button&lt;/a&gt; </br>
                &lt;a class="btn nh-btn btn-dark btn-md" href="javascript:void(0)">medium button&lt;/a&gt; </br>
                &lt;a class="btn nh-btn btn-dark btn-lg" href="javascript:void(0)">large button&lt;/a&gt;
            </code>
        </div>
    </div>
</div>