<div class="text-center">
    <button class="btn btn-sm nh-btn btn--primary btn--outline" type="button" data-toggle="collapse" data-target="#btnPill" aria-expanded="false" aria-controls="btnPill">
        <i class="fa fa-code" aria-hidden="true"></i> Show Code
    </button>
    <div class="collapse" id="btnPill">
        <div class="card-code card-code-body text-left">
            <code>
                &lt;a class="btn nh-btn btn--primary btn--pill" href="javascript:void(0)">primary button&lt;/a&gt; </br>
                &lt;a class="btn nh-btn btn--secondary btn--pill" href="javascript:void(0)">secondary button&lt;/a&gt; </br>
                &lt;a class="btn nh-btn btn--success btn--pill" href="javascript:void(0)">success button&lt;/a&gt; </br>
                &lt;a class="btn nh-btn btn--danger btn--pill" href="javascript:void(0)">danger button&lt;/a&gt; </br>
                &lt;a class="btn nh-btn btn--dark btn--pill" href="javascript:void(0)">dark button&lt;/a&gt; </br>
                &lt;a class="btn nh-btn btn--default btn--pill" href="javascript:void(0)">default button&lt;/a&gt;
            </code>
        </div>
    </div>
</div>