@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
.nh-btn, .signup-modal__button {
  color: #fff;
  font-family: 'NunitoSansBold', sans-serif;
  font-weight: 300; }

.nh-btn, .signup-modal__button {
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: inline-block;
  font-size: 1rem;
  padding: .75rem 2.188rem !important; }

.btn--primary.btn--solid {
  background: #007aff;
  background-color: #007aff;
  color: #ffffff; }
  .btn--primary.btn--solid:hover {
    color: #ffffff;
    background: #006ee6;
    transition: all 0.3s ease; }
  .btn--primary.btn--solid:active {
    background: #003d80; }

.btn--secondary.btn--solid {
  background: #fb8c00;
  background-color: #fb8c00;
  color: #ffffff; }
  .btn--secondary.btn--solid:hover {
    color: #ffffff;
    background: #e27e00;
    transition: all 0.3s ease; }
  .btn--secondary.btn--solid:active {
    background: #7c4500; }

.btn--success.btn--solid {
  background: #00bfa5;
  background-color: #00bfa5;
  color: #ffffff; }
  .btn--success.btn--solid:hover {
    color: #ffffff;
    background: #00a68f;
    transition: all 0.3s ease; }
  .btn--success.btn--solid:active {
    background: #004037; }

.btn--danger.btn--solid {
  background: #ee4957;
  background-color: #ee4957;
  color: #ffffff; }
  .btn--danger.btn--solid:hover {
    color: #ffffff;
    background: #ec3241;
    transition: all 0.3s ease; }
  .btn--danger.btn--solid:active {
    background: #a8101d; }

.btn--dark.btn--solid {
  background: #343a40;
  background-color: #343a40;
  color: #ffffff; }
  .btn--dark.btn--solid:hover {
    color: #ffffff;
    background: #292d32;
    transition: all 0.3s ease; }
  .btn--dark.btn--solid:active {
    background: black; }

.btn--default.btn--solid {
  background: #6c757d;
  background-color: #6c757d;
  color: #ffffff; }
  .btn--default.btn--solid:hover {
    color: #ffffff;
    background: #60686f;
    transition: all 0.3s ease; }
  .btn--default.btn--solid:active {
    background: #313539; }

.btn--primary.btn--pill {
  background: #007aff;
  border-radius: 2em;
  background-color: #007aff;
  color: #ffffff; }
  .btn--primary.btn--pill:hover {
    color: #007aff;
    border-color: #007aff;
    background: transparent;
    transition: all 0.3s ease; }
  .btn--primary.btn--pill:active {
    background: transparent; }

.btn--secondary.btn--pill {
  background: #fb8c00;
  border-radius: 2em;
  background-color: #fb8c00;
  color: #ffffff; }
  .btn--secondary.btn--pill:hover {
    color: #fb8c00;
    border-color: #fb8c00;
    background: transparent;
    transition: all 0.3s ease; }
  .btn--secondary.btn--pill:active {
    background: transparent; }

.btn--success.btn--pill {
  background: #00bfa5;
  border-radius: 2em;
  background-color: #00bfa5;
  color: #ffffff; }
  .btn--success.btn--pill:hover {
    color: #00bfa5;
    border-color: #00bfa5;
    background: transparent;
    transition: all 0.3s ease; }
  .btn--success.btn--pill:active {
    background: transparent; }

.btn--danger.btn--pill {
  background: #ee4957;
  border-radius: 2em;
  background-color: #ee4957;
  color: #ffffff; }
  .btn--danger.btn--pill:hover {
    color: #ee4957;
    border-color: #ee4957;
    background: transparent;
    transition: all 0.3s ease; }
  .btn--danger.btn--pill:active {
    background: transparent; }

.btn--dark.btn--pill {
  background: #343a40;
  border-radius: 2em;
  background-color: #343a40;
  color: #ffffff; }
  .btn--dark.btn--pill:hover {
    color: #343a40;
    border-color: #343a40;
    background: transparent;
    transition: all 0.3s ease; }
  .btn--dark.btn--pill:active {
    background: transparent; }

.btn--default.btn--pill {
  background: #6c757d;
  border-radius: 2em;
  background-color: #6c757d;
  color: #ffffff; }
  .btn--default.btn--pill:hover {
    color: #6c757d;
    border-color: #6c757d;
    background: transparent;
    transition: all 0.3s ease; }
  .btn--default.btn--pill:active {
    background: transparent; }

.btn--primary.btn--outline {
  background: transparent;
  border-color: #007aff;
  color: #007aff;
  border: 1px solid #007aff;
  color: #007aff; }
  .btn--primary.btn--outline:hover {
    border-color: #006ee6;
    background: #006ee6;
    color: #ffffff;
    transition: all 0.3s ease; }
  .btn--primary.btn--outline:active {
    background: #003d80; }

.btn--secondary.btn--outline {
  background: transparent;
  border-color: #fb8c00;
  color: #fb8c00;
  border: 1px solid #fb8c00;
  color: #fb8c00; }
  .btn--secondary.btn--outline:hover {
    border-color: #e27e00;
    background: #e27e00;
    color: #ffffff;
    transition: all 0.3s ease; }
  .btn--secondary.btn--outline:active {
    background: #7c4500; }

.btn--success.btn--outline {
  background: transparent;
  border-color: #00bfa5;
  color: #00bfa5;
  border: 1px solid #00bfa5;
  color: #00bfa5; }
  .btn--success.btn--outline:hover {
    border-color: #00a68f;
    background: #00a68f;
    color: #ffffff;
    transition: all 0.3s ease; }
  .btn--success.btn--outline:active {
    background: #004037; }

.btn--danger.btn--outline {
  background: transparent;
  border-color: #ee4957;
  color: #ee4957;
  border: 1px solid #ee4957;
  color: #ee4957; }
  .btn--danger.btn--outline:hover {
    border-color: #ec3241;
    background: #ec3241;
    color: #ffffff;
    transition: all 0.3s ease; }
  .btn--danger.btn--outline:active {
    background: #a8101d; }

.btn--dark.btn--outline {
  background: transparent;
  border-color: #343a40;
  color: #343a40;
  border: 1px solid #343a40;
  color: #343a40; }
  .btn--dark.btn--outline:hover {
    border-color: #292d32;
    background: #292d32;
    color: #ffffff;
    transition: all 0.3s ease; }
  .btn--dark.btn--outline:active {
    background: black; }

.btn--default.btn--outline {
  background: transparent;
  border-color: #6c757d;
  color: #6c757d;
  border: 1px solid #6c757d;
  color: #6c757d; }
  .btn--default.btn--outline:hover {
    border-color: #60686f;
    background: #60686f;
    color: #ffffff;
    transition: all 0.3s ease; }
  .btn--default.btn--outline:active {
    background: #313539; }

.btn--icon.btn--solid {
  background: #6c757d;
  background-color: #6c757d;
  color: #ffffff;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 2.575rem;
  height: 2.575rem;
  padding: .625rem; }
  .btn--icon.btn--solid:hover {
    color: #ffffff;
    background: #60686f;
    transition: all 0.3s ease; }
  .btn--icon.btn--solid:active {
    background: #313539; }

.btn--icon.btn--pill {
  background: #6c757d;
  border-radius: 50%;
  background-color: #6c757d;
  color: #ffffff;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 2.575rem;
  height: 2.575rem;
  padding: .625rem; }
  .btn--icon.btn--pill:hover {
    color: #6c757d;
    border-color: #6c757d;
    background: transparent;
    transition: all 0.3s ease; }
  .btn--icon.btn--pill:active {
    background: transparent; }

.btn--icon.btn--outline {
  background: transparent;
  border-color: #6c757d;
  color: #6c757d;
  background-color: transparent;
  border: 2px solid #6c757d;
  color: #6c757d;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 2.575rem;
  height: 2.575rem;
  padding: .625rem; }
  .btn--icon.btn--outline:hover {
    border-color: #60686f;
    background: #60686f;
    color: #ffffff;
    transition: all 0.3s ease; }
  .btn--icon.btn--outline:active {
    background: #313539; }

.btn-sm {
  min-width: 6rem;
  font-size: 0.875rem;
  padding: .25rem 1rem; }

.btn-md {
  min-width: 8rem;
  font-size: 1rem;
  padding: .50rem 1.5rem; }

.btn-lg {
  min-width: 10rem;
  font-size: 1.25rem;
  padding: .75em 2.25em; }

.package {
  padding-bottom: 80px; }
  .package__tooltip {
    box-shadow: 0px 1px 4px rgba(17, 26, 104, 0.15);
    -webkit-box-shadow: 0px 1px 4px rgba(17, 26, 104, 0.15);
    -moz-box-shadow: 0px 1px 4px rgba(17, 26, 104, 0.15);
    background: white;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    display: none; }
    .package__tooltip::after {
      content: "";
      position: absolute;
      top: 100%;
      box-sizing: border-box;
      border: 11px solid rgba(77, 88, 114, 0.1);
      border-color: transparent transparent #ffffff #ffffff;
      transform-origin: 0 0;
      transform: rotate(-47deg);
      -webkit-transform-origin: 0 0;
      -webkit-transform: rotate(-47deg);
      box-shadow: -1px 1px 4px 0 rgba(17, 26, 104, 0.15);
      -webkit-box-shadow: -1px 1px 1px rgba(17, 26, 104, 0.15); }
    .package__tooltip--price {
      top: -95px;
      left: 85px;
      width: 135px;
      padding: 6px 5px 7px; }
      .package__tooltip--price::after {
        left: 50px; }
  .package__point {
    font-family: NunitoSansRegular, sans-serif !important;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(58, 65, 102, 0.7);
    margin-bottom: 15px; }
  .package__card-wrapper {
    text-align: center; }
    .package__card-wrapper:hover .package__tooltip {
      display: block !important; }
    .package__card-wrapper:not(:last-child) {
      margin-bottom: 30px;
      /*For Mobile*/ }
    @media only screen and (min-width: 400px) {
      .package__card-wrapper:nth-child(1), .package__card-wrapper:nth-child(3) {
        text-align: right !important; }
      .package__card-wrapper:nth-child(2), .package__card-wrapper:nth-child(4) {
        text-align: left !important; } }
    @media only screen and (min-width: 1200px) {
      .package__card-wrapper {
        margin-bottom: 0 !important; } }
  .package__card {
    position: relative;
    display: inline-block;
    width: 270px;
    min-height: 700px;
    border-radius: 8px;
    padding: 88px 13px 35px;
    background: #fff;
    box-shadow: 0 6px 20px rgba(17, 26, 104, 0.15);
    text-align: center; }
  .package__title {
    font-family: NunitoSansBold, sans-serif;
    font-size: 33px;
    text-align: center; }
  .package__best-seller {
    font-family: NunitoSansBold, sans-serif;
    font-size: 20px;
    color: #fff;
    width: 100%;
    border-radius: 8px;
    background: #007AFF;
    position: absolute;
    display: none;
    padding: 14px 78px;
    top: -86px;
    left: 50%;
    transform: translateX(-50%); }
    @media only screen and (min-width: 400px) {
      .package__best-seller {
        display: inline-block; } }
    .package__best-seller::after {
      content: "";
      position: absolute;
      border: 16px solid transparent;
      border-top-color: #007AFF;
      top: 100%;
      left: 50%;
      transform: translateX(-50%); }
  .package__label {
    font-family: NunitoSansBold, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background: #E5E5E5;
    display: inline-block;
    width: 100.4%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 12px 0;
    text-align: center; }
    .package__label--green {
      background: #00BFA5; }
    .package__label--yellow {
      background: #FB8C00; }
  .package__package-title {
    font-family: NunitoSansBold, sans-serif;
    font-size: 30px;
    margin-bottom: 40px; }
  .package__price {
    position: relative;
    font-size: 18px;
    opacity: .7; }
    .package__price--hidden {
      visibility: hidden; }
    .package__price::after {
      content: "";
      position: absolute;
      top: 13px;
      left: 50%;
      transform: translateX(-50%);
      width: 130px;
      height: 1px;
      background: #3A4166; }
  .package__discount-price {
    display: inline-block;
    font-family: NunitoSansBold, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #007AFF;
    margin-bottom: 8px;
    padding-right: 24px;
    position: relative; }
    .package__discount-price::after {
      font-family: NunitoSansRegular, sans-serif !important;
      font-size: 14px;
      content: "/bln";
      color: #3A4166;
      opacity: .7;
      position: absolute;
      right: 0;
      bottom: 8px; }
  .package__hr {
    height: 1px;
    width: 100%;
    background: #E5E5E5;
    margin-bottom: 40px; }
  .package__description {
    opacity: .7;
    padding: 0 10px;
    margin-top: 30px;
    font-size: 12px; }
  .package__feature {
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    align-items: flex-start;
    margin: 30px 0 0;
    padding: 0 0 0 30px;
    list-style: none; }
    .package__feature > li {
      position: relative;
      padding: 7px 0; }
  .package__icon {
    position: absolute;
    left: -25px;
    top: 6px; }
  .package__see-detail {
    display: inline-block;
    font-size: .75rem;
    color: #007aff;
    margin-top: 30px; }

pre {
  background: #333;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto; }
  pre::after {
    content: "double click to selection";
    padding: 0;
    width: auto;
    height: auto;
    position: absolute;
    right: 18px;
    top: 14px;
    font-size: 12px;
    color: #ddd;
    line-height: 20px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.3s ease; }
  pre:hover::after {
    opacity: 0;
    visibility: visible; }

pre.code {
  margin: 20px 25px;
  border-radius: 4px;
  border: 1px solid #292929;
  position: relative; }
  pre.code label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #ddd;
    position: absolute;
    left: 1px;
    top: 15px;
    text-align: center;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none; }
  pre.code code {
    font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    display: block;
    margin: 0 0 0 60px;
    padding: 15px 16px 14px;
    border-left: 1px solid #555;
    overflow-x: auto;
    font-size: 13px;
    line-height: 19px;
    color: #ddd; }

pre.code-css code {
  color: #91a7ff; }

pre.code-html code {
  color: #aed581; }

pre.code-javascript code {
  color: #ffa726; }

pre.code-jquery code {
  color: #4dd0e1; }

.card-code {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #343a40;
  background-clip: border-box;
  border-radius: .3rem;
  border: none;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.2);
  color: #4dd0e1;
  cursor: pointer;
  font-size: .875rem; }

.card-code-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  margin: 1rem 0; }

body, body .color, body color:before, body color:after {
  position: relative;
  display: block;
  box-sizing: border-box; }

.palette {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%; }

.color {
  width: calc(20% - 1rem);
  height: 170px;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.15);
  display: block;
  margin: 5px; }
  .color:before, .color:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #cecece;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 85%;
    overflow: hidden;
    word-wrap: nowrap;
    text-overflow: ellipsis; }
  .color:before {
    background-color: white;
    font-weight: bold;
    border: 1px solid #cecece; }
  .color:after {
    padding-top: 1.5rem;
    font-size: 70%;
    color: gray; }
  .color.blue {
    background-color: #006ee6; }
    .color.blue:before {
      content: "blue"; }
    .color.blue:after {
      content: "#006ee6"; }
    .color.blue .variants {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      position: absolute;
      height: 4.5rem;
      width: 1.5rem;
      right: 0;
      top: 0;
      background: linear-gradient(to bottom, #1a87ff 0rem, #1a87ff 1.5rem, #006ee6 1.5rem, #006ee6 3rem, #0062cd 3rem, #0062cd 4.5rem); }
  .color.yellow {
    background-color: #fbe20e; }
    .color.yellow:before {
      content: "yellow"; }
    .color.yellow:after {
      content: "#fbe20e"; }
    .color.yellow .variants {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      position: absolute;
      height: 4.5rem;
      width: 1.5rem;
      right: 0;
      top: 0;
      background: linear-gradient(to bottom, #fbe527 0rem, #fbe527 1.5rem, #fbe20e 1.5rem, #fbe20e 3rem, #ecd304 3rem, #ecd304 4.5rem); }
  .color.orange {
    background-color: #ed7043; }
    .color.orange:before {
      content: "orange"; }
    .color.orange:after {
      content: "#ed7043"; }
    .color.orange .variants {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      position: absolute;
      height: 4.5rem;
      width: 1.5rem;
      right: 0;
      top: 0;
      background: linear-gradient(to bottom, #ef825a 0rem, #ef825a 1.5rem, #ed7043 1.5rem, #ed7043 3rem, #eb5e2c 3rem, #eb5e2c 4.5rem); }
  .color.red {
    background-color: #db5358; }
    .color.red:before {
      content: "red"; }
    .color.red:after {
      content: "#db5358"; }
    .color.red .variants {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      position: absolute;
      height: 4.5rem;
      width: 1.5rem;
      right: 0;
      top: 0;
      background: linear-gradient(to bottom, #df686c 0rem, #df686c 1.5rem, #db5358 1.5rem, #db5358 3rem, #d73e44 3rem, #d73e44 4.5rem); }
  .color.purple {
    background-color: #7a00ff; }
    .color.purple:before {
      content: "purple"; }
    .color.purple:after {
      content: "#7a00ff"; }
    .color.purple .variants {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      position: absolute;
      height: 4.5rem;
      width: 1.5rem;
      right: 0;
      top: 0;
      background: linear-gradient(to bottom, #871aff 0rem, #871aff 1.5rem, #7a00ff 1.5rem, #7a00ff 3rem, #6e00e6 3rem, #6e00e6 4.5rem); }
  .color.white {
    background-color: #f6fbff; }
    .color.white:before {
      content: "white"; }
    .color.white:after {
      content: "#f6fbff"; }
    .color.white .variants {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      position: absolute;
      height: 4.5rem;
      width: 1.5rem;
      right: 0;
      top: 0;
      background: linear-gradient(to bottom, #ffffff 0rem, #ffffff 1.5rem, #f6fbff 1.5rem, #f6fbff 3rem, #ddf0ff 3rem, #ddf0ff 4.5rem); }
  .color.green {
    background-color: #00bfa5; }
    .color.green:before {
      content: "green"; }
    .color.green:after {
      content: "#00bfa5"; }
    .color.green .variants {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      position: absolute;
      height: 4.5rem;
      width: 1.5rem;
      right: 0;
      top: 0;
      background: linear-gradient(to bottom, #00d9bb 0rem, #00d9bb 1.5rem, #00bfa5 1.5rem, #00bfa5 3rem, #00a68f 3rem, #00a68f 4.5rem); }
  .color.gray {
    background-color: #757a94; }
    .color.gray:before {
      content: "gray"; }
    .color.gray:after {
      content: "#757a94"; }
    .color.gray .variants {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      position: absolute;
      height: 4.5rem;
      width: 1.5rem;
      right: 0;
      top: 0;
      background: linear-gradient(to bottom, #83889f 0rem, #83889f 1.5rem, #757a94 1.5rem, #757a94 3rem, #696d87 3rem, #696d87 4.5rem); }
  .color.navy {
    background-color: #3a4166; }
    .color.navy:before {
      content: "navy"; }
    .color.navy:after {
      content: "#3a4166"; }
    .color.navy .variants {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      position: absolute;
      height: 4.5rem;
      width: 1.5rem;
      right: 0;
      top: 0;
      background: linear-gradient(to bottom, #434b76 0rem, #434b76 1.5rem, #3a4166 1.5rem, #3a4166 3rem, #3a4566 3rem, #3a4566 4.5rem); }
  .color.black {
    background-color: #343a40; }
    .color.black:before {
      content: "black"; }
    .color.black:after {
      content: "#343a40"; }
    .color.black .variants {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      position: absolute;
      height: 4.5rem;
      width: 1.5rem;
      right: 0;
      top: 0;
      background: linear-gradient(to bottom, #3f474e 0rem, #3f474e 1.5rem, #343a40 1.5rem, #343a40 3rem, #292d32 3rem, #292d32 4.5rem); }

.container h1 {
  font-size: 2rem;
  font-weight: 700; }

.container h2 {
  font-size: 1.125rem;
  font-weight: 700; }

.container h3 {
  font-size: 1rem;
  font-weight: 700; }

.all-section {
  margin: 1.875rem;
  position: relative; }
  .all-section .btn {
    margin: .313rem; }

.color-section {
  height: 200px; }

.nh-input {
  text-size: 1rem;
  color: #8898aa; }
  .nh-input--noborder input {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    border: 0;
    transition: box-shadow .15s ease; }

.bg-input-gray {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 1rem 0; }

.signup-modal .modal-dialog {
  max-width: 540px; }

.signup-modal .modal-content {
  padding: 32px 48px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 6px 20px rgba(17, 26, 104, 0.2);
  border-radius: 8px; }
  .signup-modal .modal-content .alert-danger {
    display: none;
    background: rgba(255, 0, 0, 0.06);
    border: 0;
    color: #ff0000;
    font-size: 12px;
    line-height: 16px;
    padding: 16px 25px;
    margin-top: 32px;
    text-align: center; }

.signup-modal__title {
  font-family: NunitoSansBold, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4166;
  margin-bottom: 8px; }

.signup-modal__subtitle {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(58, 65, 102, 0.7); }
  .signup-modal__subtitle--show-login, .signup-modal__subtitle--show-signup {
    font-family: NunitoSansBold, sans-serif;
    color: #007aff;
    cursor: pointer;
    text-decoration: underline; }

.signup-modal__form {
  margin: 32px 0; }
  .signup-modal__form .form-group {
    min-height: 88px;
    margin-bottom: 8px; }
  .signup-modal__form label {
    font-family: NunitoSansBold, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #3a4166;
    margin-bottom: 16px; }
    .signup-modal__form label.error {
      font-family: NunitoSansRegular, sans-serif;
      color: #ff0000;
      margin-bottom: 0;
      vertical-align: bottom; }
  .signup-modal__form .form-control {
    font-family: NunitoSansRegular, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #3a4166;
    height: 32px;
    border: 0 0 2px solid rgba(58, 65, 102, 0.3);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    padding: 0 0 8px; }
    .signup-modal__form .form-control.error {
      border-color: #ff0000; }
      .signup-modal__form .form-control.error:focus {
        border-color: #ff0000; }
    .signup-modal__form .form-control:-ms-input-placeholder {
      color: rgba(58, 65, 102, 0.4); }
    .signup-modal__form .form-control::placeholder {
      color: rgba(58, 65, 102, 0.4); }
    .signup-modal__form .form-control:focus {
      border-color: #007aff;
      box-shadow: none; }

.signup-modal__forgot-password {
  text-align: right;
  margin-top: 32px; }
  .signup-modal__forgot-password a {
    font-family: NunitoSansBold, sans-serif;
    color: #007aff;
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline; }

.signup-modal__step-2 {
  display: none; }

.signup-modal__button {
  background: transparent;
  border-color: #fb8c00;
  color: #fb8c00;
  background: #fb8c00;
  color: #ffffff;
  border-radius: .313rem; }
  .signup-modal__button:hover {
    border-color: #e27e00;
    background: #e27e00;
    color: #ffffff;
    transition: all 0.3s ease; }
  .signup-modal__button:active {
    background: #7c4500; }
  .signup-modal__button:hover {
    color: #ffffff;
    background: #e27e00;
    transition: all 0.3s ease; }
  .signup-modal__button:active {
    background: #7c4500; }
  .signup-modal__button--loading {
    background-color: #fb8c00;
    border-radius: 4px;
    bottom: 0;
    display: none;
    height: 48px;
    left: 0;
    line-height: 48px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }
  .signup-modal__button--register, .signup-modal__button--login {
    display: inline-block;
    margin: 32px auto 0;
    padding: .5rem 4rem; }
  .signup-modal__button--google, .signup-modal__button--facebook {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding: 12px 0;
    text-transform: inherit;
    border: 0; }
    .signup-modal__button--google:hover, .signup-modal__button--facebook:hover {
      color: #fff;
      text-decoration: none; }
  .signup-modal__button--google {
    background-color: #db4437;
    margin-bottom: 16px; }
    .signup-modal__button--google:hover {
      background-color: #ba2f22; }
  .signup-modal__button--facebook {
    background-color: #4267b2; }
    .signup-modal__button--facebook:hover {
      background-color: #35538f; }
  @media only screen and (min-width: 400px) {
    .signup-modal__button {
      padding: 16px 27.5px; } }

.signup-modal__persuasive {
  display: block;
  position: relative;
  font-size: 12px;
  text-align: center;
  color: rgba(58, 65, 102, 0.7);
  margin: 0 auto 32px;
  width: 205px;
  height: 24px;
  line-height: 24px; }
  .signup-modal__persuasive::before, .signup-modal__persuasive::after {
    position: absolute;
    content: "";
    width: 72.5px;
    height: 1px;
    background-color: #e5e5e5;
    top: 0;
    bottom: 0;
    margin: auto 0; }
  .signup-modal__persuasive::before {
    left: -72.5px; }
  .signup-modal__persuasive::after {
    right: -72.5px; }

@media only screen and (min-width: 400px) {
  .signup-modal .modal-dialog {
    margin: 0.5rem auto; } }

@media only screen and (min-width: 400px) {
  .signup-modal .modal-content {
    padding: 32px 20px 31.54px; }
  .signup-modal__button--register {
    margin-top: 47.54px; } }

.color-palette .palette {
  width: 100px;
  height: 100px;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.15);
  display: inline-block;
  border-radius: 4px;
  position: relative; }
  .color-palette .palette.blue {
    background: #007aff; }
    .color-palette .palette.blue:hover {
      background: #0062cc; }
  .color-palette .palette.purple {
    background: #7a00ff; }
    .color-palette .palette.purple:hover {
      background: #6200cc; }
  .color-palette .palette.yellow {
    background: #fbe20e; }
    .color-palette .palette.yellow:hover {
      background: #d3bd03; }
  .color-palette .palette.orange {
    background: #fb8c00; }
    .color-palette .palette.orange:hover {
      background: #c87000; }
  .color-palette .palette.red {
    background: #db5358; }
    .color-palette .palette.red:hover {
      background: #d02b31; }
  .color-palette .palette.white {
    background: #f6fbff; }
    .color-palette .palette.white:hover {
      background: #c3e4ff; }
  .color-palette .palette.green {
    background: #00bfa5; }
    .color-palette .palette.green:hover {
      background: #008c79; }
  .color-palette .palette.gray {
    background: #757a94; }
    .color-palette .palette.gray:hover {
      background: #5d6279; }
  .color-palette .palette.navy {
    background: #3a4166; }
    .color-palette .palette.navy:hover {
      background: #282c45; }
  .color-palette .palette.black {
    background: #343a40; }
    .color-palette .palette.black:hover {
      background: #1d2124; }

.copied {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: absolute;
  background: #fff;
  border-radius: 100px;
  padding: 10px;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-left: -40px;
  margin-top: -20px;
  color: #333;
  width: 80px;
  transform: scale(0);
  opacity: 1; }

.copiedEffect {
  animation: rippleDrop .5s linear; }

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: white;
  transform: scale(0.8);
  position: absolute;
  opacity: 0; }

.rippleEffect {
  animation: rippleDrop .5s linear; }

.copiedEffect {
  animation: copiedDrop 1s ease; }

@keyframes rippleDrop {
  100% {
    transform: scale(1);
    opacity: 0; } }

@keyframes copiedDrop {
  50% {
    transform: scale(0.8);
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }

.footer__social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }
  .footer__social-list > li:not(:last-child) {
    margin-right: 26px; }

.footer__social {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 30px;
  color: #fff;
  background: #c4c4c4;
  border-radius: 50%;
  transition: ease .6s; }
  .footer__social:hover {
    background: #fff;
    box-shadow: inset 8px 8px 16px 0 rgba(0, 0, 0, 0.15), inset -8px -8px 12px 0 rgba(255, 255, 255, 0.5); }
  .footer__social > .fab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.footer__social--facebook {
  background: #3B5998; }
  .footer__social--facebook:hover {
    color: #3B5998; }

.footer__social--instagram {
  background: #EE4957; }
  .footer__social--instagram:hover {
    color: #EE4957; }

.footer__social--linkedin {
  background: #007AB9; }
  .footer__social--linkedin:hover {
    color: #007AB9; }

.footer__social--twitter {
  background: #55ACEE; }
  .footer__social--twitter:hover {
    color: #55ACEE; }

.content-box {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.2);
  padding: 32px; }

.multipletab {
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  justify-content: center; }
  .multipletab:hover .tab-nav {
    opacity: 1; }

.tab-buttons {
  display: inline-block;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.2);
  border-radius: 50px;
  background-color: #fff;
  margin-bottom: 20px; }
  .tab-buttons > span {
    display: block;
    float: left;
    border-radius: 50px;
    cursor: pointer;
    color: #4d5872;
    font: 400 15px 'pt sans',sans-serif;
    padding: 12px 40px;
    line-height: 40px !important;
    white-space: nowrap;
    transition: ease-out 0.4s; }
  .tab-buttons > span.active {
    background: #007aff;
    color: #fff;
    position: relative; }

.tab-content {
  position: relative; }
  .tab-content > div {
    position: absolute;
    color: #666;
    font-family: 'pt sans',sans-serif; }

.tab-nav {
  opacity: 0;
  transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear; }
  .tab-nav > span {
    position: absolute;
    top: 50%;
    cursor: pointer;
    display: block;
    height: 35px;
    width: 35px; }

.metode-accordian {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
  .metode-accordian__text {
    font-style: normal;
    font-weight: normal;
    font-size: .875rem;
    line-height: 28px;
    color: rgba(58, 65, 102, 0.7);
    margin: 5px 0 30px 15px; }
    .metode-accordian__text a {
      margin: 5px 0 30px 0;
      color: #007AFF; }

.card {
  border: none;
  border-radius: 1rem !important;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.2);
  cursor: pointer;
  font-size: .875rem; }
  .card:not(last-child) {
    margin-bottom: 20px !important; }
  .card__box {
    height: 70px;
    border-bottom-color: #FFFFFF; }
    .card__box:last-child {
      border-radius: 8px; }
  .card ul li {
    color: rgba(58, 65, 102, 0.7);
    list-style-type: none;
    line-height: 1.563rem; }
    .card ul li b {
      font-family: NunitoSansBold,sans-serif;
      font-weight: 700 !important; }
    .card ul li + li {
      padding: 10px 0; }
  .card ol li {
    color: rgba(58, 65, 102, 0.7);
    list-style-type: decimal;
    line-height: 1.563rem; }
    .card ol li b {
      font-family: NunitoSansBold,sans-serif;
      font-weight: 700 !important; }
    .card ol li + li {
      padding: 10px 0; }

.nh-tooltip {
  cursor: pointer;
  position: absolute;
  display: inline-block; }
  .nh-tooltip:hover .nh-tooltip__text {
    visibility: visible; }
  .nh-tooltip__text {
    font-family: NunitoSansRegular, sans-serif;
    font-size: 14px;
    visibility: hidden;
    display: inline-block;
    width: 240px;
    padding: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1;
    border-radius: 3px;
    word-wrap: break-word;
    text-align: left; }
    .nh-tooltip__text > a {
      color: #92a2b0; }
      .nh-tooltip__text > a:hover {
        color: #92a2b0;
        text-decoration: underline; }
    .nh-tooltip__text--top {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%); }
      .nh-tooltip__text--top::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border: 5px solid transparent;
        border-top-color: rgba(0, 0, 0, 0.7); }
    .nh-tooltip__text--left {
      top: 50%;
      left: -258px;
      transform: translateY(-50%); }
      .nh-tooltip__text--left::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        border: 5px solid transparent;
        border-left-color: rgba(0, 0, 0, 0.7); }
    .nh-tooltip__text--right {
      top: 50%;
      left: calc(100% + 4px);
      transform: translateY(-50%); }
      .nh-tooltip__text--right::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        border: 5px solid transparent;
        border-right-color: rgba(0, 0, 0, 0.7); }

.nh-tooltip-item {
  position: relative; }
  .nh-tooltip-item td {
    position: relative; }
  .nh-tooltip-item:hover .nh-tooltip-item__point {
    visibility: visible; }
  .nh-tooltip-item__point {
    box-shadow: 0px 1px 4px rgba(17, 26, 104, 0.15);
    -webkit-box-shadow: 0px 1px 4px rgba(17, 26, 104, 0.15);
    -moz-box-shadow: 0px 1px 4px rgba(17, 26, 104, 0.15);
    background: white;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    visibility: hidden;
    width: 160px;
    padding: 6px 5px 7px;
    bottom: calc(100% + 25px);
    left: 0; }
    .nh-tooltip-item__point::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 65px;
      box-sizing: border-box;
      border: 11px solid rgba(77, 88, 114, 0.1);
      border-color: transparent transparent #ffffff #ffffff;
      transform-origin: 0 0;
      transform: rotate(-47deg);
      -webkit-transform-origin: 0 0;
      -webkit-transform: rotate(-47deg);
      box-shadow: -1px 1px 4px 0 rgba(17, 26, 104, 0.15);
      -webkit-box-shadow: -1px 1px 1px rgba(17, 26, 104, 0.15); }
    .nh-tooltip-item__point--centered {
      left: 50%;
      transform: translateX(-50%); }

/*# sourceMappingURL=palagan.css.map */
